#footer {
	padding: 20px 0;
	#gradient .vertical(#222, #111);
	border-top: #444 1px solid;
	>ul {
		list-style: none;
	}
	.lable {
		color: #fff;
		margin: 15px 0 6px;
	}
	a {
		color: @grayLight;
		font-size: 12px;
		&:hover {
			color: @colorBrand;
			text-decoration: none;
		}
	}
	.disclaimers {
		font-size: 12px;
		//overflow: hidden;
		color: @gray;
		div:first-child {
			padding-top: 30px;
		}
	}
}